:root {
  --col-bg: #003032;
  --col-1: #1a6460;
  --col-2: #4b746e;
  --col-4: #CFE0C3;
  --col-interactive:  #0f0f0f98;

  --col-border-1: #ddd;
  --col-border-2:#8d8d8d;

  --col-text-1: #f6f6f6;
  --col-text-disabled: #c0bfbf;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--col-text-1);
  background-color: var(--col-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}

.layout {
  display: flex;
  height: calc(100vh - 35px);
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  border-right: 1px solid var(--col-border-1);
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100vh - 35px);
}

.spacer {
  margin-top: 3px;
  margin-bottom: 2px;
  width: 100%;
  border-bottom: 1px solid var(--col-border-1);
}

.log-list {
  list-style: none;
  padding: 0;
  border-top: 1px solid var(--col-border-1);
}

.log-message {
  padding-left: 3px;
  border-top: 1px solid var(--col-border-2);
  border-left: 1px solid var(--col-border-2);
}

.log-warn {
  background-color: #42381e;
}

.log-error {
  background-color: #4b2f36;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-top: 6px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.content {
  flex: 1;
  margin-left: 210px;
  padding: 1rem;
  display: block;
  overflow: auto;
}

.hidden {
  display: none;
}

.tab-button,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--col-text-1);
  background-color: var(--col-interactive);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tab-button:not([disabled]):hover {
  border-color: #396cd8;
}

.tab-button:active {
  border-color: #396cd8;
  background-color: #3b3a3a;
}

.nav-item:not([aria-disabled]):hover,
.nav-item.active {
  background-color: var(--col-2);
}

[aria-disabled]:hover,
[disabled]:hover {
  cursor: not-allowed;
}

[aria-disabled],
[disabled] {
  color: var(--col-text-disabled);
}

.tab-panel {
  display: block;
  margin-bottom: auto;
}
.search-bar {
  padding: 0.5em;
  width: -webkit-fill-available;
}

.tab-panel > table > tbody > tr {
  border-bottom: 1px solid #eee;
}

.tab-panel > table > tbody > tr > td {
  padding: 0.5em;
}

.tab-panel > table > tbody > tr:last-child {
  border-bottom: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CHARACTERS BOX RELATED STUFF */
.characterBox {
  border: 1px solid var(--col-border-1);
  padding: 1rem;
  min-width: 400px;
  max-width: 500px;
  border-end-start-radius: 4px;
}

.characterEditModule {
  background-color: var(--col-bg);
  border-radius: 6px;
  padding: 0px 4px;
}

 .skillEditorTitle {
  width: 50%;
  text-decoration: solid;
  border: 2px solid var(--col-border-2);
  text-align: center;
  
}

.skillEditorItem {
  border-radius: 3px;
  border: 1px solid var(--col-border-2);
  padding: 0.25rem 0.5rem;
  vertical-align: text-bottom;
  cursor: pointer;
}

.skillsEditorSkillsContainer {
  width: 50%;
  vertical-align: top;
} 


#CommitRawJsonChanges {
  margin-left: auto;
  border: 1px solid var(--col-border-2)
}

.infoBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14px;
  z-index: 1000;
  padding-left: 5px;
  border-top: 1px solid var(--col-border-1);
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--col-text-1);
  background-color: var(--col-1);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slider[aria-disabled]:hover {
  cursor: not-allowed;
}

select {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #0f0f0f98;
  color: var(--col-text-1);
}

select > option {
  background-color: #0f0f0fc9;
}

.oveflow-auto {
  overflow: auto;
}

/* cooler Checkbox #22 https://getcssscan.com/css-checkboxes-examples */
.switch {
  display: inline-block;
  top: 6px;
  height: 30px;
  position: relative;
  width: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--col-interactive);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s;
  border: 1px solid var(--col-border-1);
}

.slider:before {
  background-color: var(--col-text-1);
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .2s;
  width: 20px;
}

input:checked+.slider {
  background-color: var(--col-1);
}

input:checked+.slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* jsoneditor dark theme */
/* dark styling of the editor */
div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b;
}
div.jsoneditor-menu {
  background-color: #4b4b4b;
}
div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
  background-color: #666666;
  color: #ffffff;
}
div.jsoneditor-field,
div.jsoneditor-value {
  color: #ffffff;
}
table.jsoneditor-search div.jsoneditor-frame {
  background: #808080;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: #808080;
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

div.jsoneditor-tree button:focus {
  background-color: #868686;
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
  color: #acacac;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
div.jsoneditor-value.jsoneditor-string {
  color: #00ff88;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}